*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem === 10px */
}

body{
    font-family: sans-serif;
    background: blue;
    font-size: 2rem;
}

.header{
    height: 100rem; /* place holder */
    background: green;
}

.main-text{
    color: white;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.title{
    font-size: 200%;
}
